<% errors.forEach((message) => { %>
<div class="alert alert-danger position-absolute" style="z-index: 3; right: 30%"><%= message %></div>
<% }) %>

<% success.forEach((message) => { %>
<div class="alert alert-success position-absolute" style="z-index: 3; right: 30%"><%= message %></div>
<% }) %>
