<%- include('includes/header') %>

<div class="">
  <% errors.forEach((message) => { %>
  <div class="alert alert-danger position-absolute" style="z-index: 2; right: 30%"><%= message %></div>
  <% }) %>
  <div class="row align-items-center">
    <div class="col-lg-6 ">
      <ul class="list-unstyled" style="position: absolute; left: 25%; top: 15%;">
        <li class="h2">Hear what people have to say.</li>
        <li class="h2">Join the conversation.</li>
      </ul>
      <img src="images/bg2.png" style="width: 100%">

    </div>
    <div class="col-lg-5 p-5">
      <form action="/register" method="POST" id="registration-form">
        <% regErrors.forEach((message) => { %>
        <div class="alert alert-danger small"><%= message %></div>
        <% }) %>

        <div class="form-group">
          <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
          <input name="username" id="username-register" class="form-control border-0 shadow" type="text"
            placeholder="Pick a username" autocomplete="off">
        </div>

        <div class="form-group">
          <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
          <input name="email" id="email-register" class="form-control border-0 shadow" type="text"
            placeholder="you@example.com" autocomplete="off">
        </div>

        <div class="form-group">
          <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
          <input name="password" id="password-register" class="form-control border-0 shadow" type="password"
            placeholder="Create a password">
        </div>

        <button type="submit" class="py-3 mt-4 btn btn-lg btn-custom-primary btn-block">Sign up for
          placeholder</button>

      </form>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
